body {
  font-family: Quicksand, sans-serif;
  line-height: 2em;
}
.franklin {
    font-family: "Libre Franklin", sans-serif;
  word-spacing: 0.5em;
}
.title {
  font-family: Chonburi, cursive;
  font-size: 1.5em;
}
