body {
  font-family: Quicksand, sans-serif;
  line-height: 2em;
}
.scripture {
   font-family: Tangerine, cursive; 
}
.franklin {
    font-family: "Libre Franklin", sans-serif;
}
.baskerville {
  font-family: 'Libre Baskerville', serif;
}
